exclude: |
    (?x)^(
        migrations/.*|
        tests/.*|
        static/ext/.*
    )$

default_language_version:
  python: python3.11

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-byte-order-marker
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-shebang-scripts-are-executable
      - id: pretty-format-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: ['--allow-missing-credentials']
      - id: detect-private-key
      - id: double-quote-string-fixer
      - id: end-of-file-fixer
      - id: file-contents-sorter
      - id: fix-byte-order-marker
      - id: fix-encoding-pragma
      - id: forbid-new-submodules
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: name-tests-test
      - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/autoflake
    rev: v2.2.0
    hooks:
      - id: autoflake
        args: ['--in-place', '--remove-all-unused-imports', '--remove-unused-variable']
  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v2.0.2
    hooks:
      - id: autopep8
        args: ['--in-place', '-aaa', '--max-line-length', '150']
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/Riverside-Healthcare/djLint
    rev: v1.31.1
    hooks:
      - id: djlint
        args: ["--profile=django", "--reformat", "--quiet", "--format-css", "--format-js", "--max-line-length", "150", "--max-attribute-length", "120", "--max-blank-lines", "1"]
        exclude: ".*/static/ext/.*"
  - repo: https://github.com/PyCQA/pylint
    rev: v2.17.4
    hooks:
      - id: pylint
        exclude: "(.*/(migrations)/.*|manage.py)"
        args: ["--rcfile=.pylintrc", "--load-plugins=pylint_django", "--django-settings-module=knock_knock.settings", "--max-line-length=150"]
        additional_dependencies: ['pylint_django', 'asgiref', 'django', 'django-debug-toolbar', 'django-money', 'faker', 'pre-commit', 'sqlparse', 'django_apscheduler', 'channels', 'daphne', 'pillow', 'django_components']
