{% extends "knock/base.html" %}

{% block page-css %}
    <style>
        #messages p {
            margin: 5px 0;
        }

        .message {
            background-color: white;
            padding: 5px 30px;
            border-radius: 10px;
            display: inline-block;
        }

        .chat-sticky {
            width: 100%;
            height: 100%;
            text-align: center;
            display: grid;
            align-items: center;
            grid-template-rows: auto;
            grid-template-columns: 10px 1fr auto 1fr 10px;
            grid-template-areas:
                ". L C R .";
        }

        .chat-sticky>a {
            grid-area: L;
        }

        .chat-sticky>div {
            grid-area: C;
        }
    </style>

{% endblock page-css %}

{% block content %}

    <div class="center sticky-top ">
        <div class="chat-sticky">
            <a href="{% url 'knock-detail' chat.knock.pk %}" class="btn-floating brown"><i class="fa fa-angle-double-left"></i></a>
            {% if chat.user.pk == request.user.pk %}
                <div class="center">{% component "user_chip" user=chat.knock.requester with_stars=False %}</div>
            {% else %}
                <div class="center">{% component "user_chip" user=chat.user with_stars=False %}</div>
            {% endif %}
        </div>
        <hr>
    </div>

    <div class="row">
        <div class="col s1"></div>
        <div class="col s10" id="messages">
            {% for message in chat.messages.all %}
                <p class="left-align {% if message.sender.pk == request.user.pk %}right-align{% endif %}">
                    <span class="message">{{ message.text }}</span>
                </p>
            {% endfor %}
            {% if can_write %}{% endif %}
        </div>
    </div>
    <div class="row sticky-bottom">
        <div class="col s1"></div>
        <div class="col s10">
            <form id="chat_form" action="{% url 'chat' chat.knock.pk chat.user.pk %}" method="post">
                {% csrf_token %}
                <input type="text" name="text" id="text">
            </form>
        </div>
    </div>

{% endblock content %}

{% block script %}
    <script>
        const chatSocket = new WebSocket('ws://' + window.location.host + '/ws/chat/{{ chat.pk }}/');

        chatSocket.onopen = function(e) {
            console.log("Successfully connected to the WebSocket.");
        };

        document.querySelector('#chat_form').onsubmit = function(e) {
            e.preventDefault();
            const messageInputDom = document.querySelector('#text');
            const message = messageInputDom.value;
            const payload = JSON.stringify({
                'message': message,
            });
            console.log("Sending: ", payload);
            chatSocket.send(payload);
            messageInputDom.value = '';
        };

        chatSocket.onmessage = function(e) {
            console.log("Receive: ", e);
            const div = document.querySelector('#messages');
            const data = JSON.parse(e.data);
            const message = data.message;
            var p = document.createElement("p");
            var span = document.createElement("span");
            span.innerHTML = message;
            span.classList.add('message');
            if (data.sender === '{{ request.user }}') {
                p.classList.add('right-align');
            } else {
                p.classList.add('left-align');
            }
            p.appendChild(span);
            div.appendChild(p);
            window.scrollTo(0, document.body.scrollHeight);
        };

        window.scrollTo(0, document.body.scrollHeight);
    </script>
{% endblock script %}
