{% extends "knock/base.html" %}

{% block content %}
    {% if my_knocks %}
        <h5 class="center home-title">MY Knock-Knocks</h5>
        <ul class="browser-default knocks">
            {% for knock in my_knocks %}
                {% component "knocky" knock=knock %}
            {% endfor %}
        </ul>

        <hr>
    {% endif %}

    {% if my_submits %}
        <h5 class="center home-title">My submits</h5>
        <ul class="browser-default knocks">
            {% for knock in my_submits %}
                {% component "knocky" knock=knock %}
            {% endfor %}
        </ul>

        <hr>
    {% endif %}

    {% if last_updated_knocks %}
        <h5 class="center home-title">Knock-Knocks</h5>
        <ul class="browser-default knocks">
            {% for knock in last_updated_knocks %}
                {% component "knocky" knock=knock %}
            {% endfor %}
        </ul>

        {% component "paginator" iterable=last_updated_knocks %}
    {% endif %}

    <hr>

{% endblock content %}
