{% extends "knock/base.html" %}

{% block content %}

    <div class="center">
        <h4>{{ knock.title }}</h4>
        <h6>
            {{ knock.description|default:"<i>No description</i>" }}
        </h6>
        <p>When: {{ knock.request_date|date:"d/m/y" }} from {{ knock.request_start_time|time:"H:i" }} to {{ knock.request_end_time|time:"H:i" }}</p>
        <div>
            <strong>Requester</strong>
            <br />
            {% component "user_chip" user=knock.requester %}
            {% if knock.request_stars %}
                <br>
                {% component "stars" stars=knock.request_stars %}
            {% else %}
                {% if knock.status == 'D' %}
                    {% if user.pk == knock.assigned_to.pk and not knock.request_stars %}
                        <form action="{% url 'knock-rating' knock.pk %}" method="post">
                            {% csrf_token %}
                            <div class="rate">
                                <label for="rate-1">
                                    <i class="fa fa-star-o"></i>
                                </label>
                                <input type="radio" name="rating" value="1" id="rate-1" required />
                                <label for="rate-2">
                                    <i class="fa fa-star-o"></i>
                                </label>
                                <input type="radio" name="rating" value="2" id="rate-2" required />
                                <label for="rate-3">
                                    <i class="fa fa-star-o"></i>
                                </label>
                                <input type="radio" name="rating" value="3" id="rate-3" required />
                                <label for="rate-4">
                                    <i class="fa fa-star-o"></i>
                                </label>
                                <input type="radio" name="rating" value="4" id="rate-4" required />
                                <label for="rate-5">
                                    <i class="fa fa-star-o"></i>
                                </label>
                                <input type="radio" name="rating" value="5" id="rate-5" required />
                                <input class="btn-small" type="submit" value="Rate">
                            </div>
                        </form>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
        {% if knock.assigned_to %}
            <p></p>
            <div>
                <strong>Assigned to</strong>
                <br />
                {% component "user_chip" user=knock.assigned_to as_request=False %}
                {% if knock.work_stars %}
                    <br>
                    {% component "stars" stars=knock.work_stars %}
                {% else %}
                    {% if knock.status == 'D' %}
                        {% if user.pk == knock.requester.pk and not knock.work_stars %}
                            <form action="{% url 'knock-rating' knock.pk %}" method="post">
                                {% csrf_token %}
                                <div class="rate">
                                    <label for="rate-1">
                                        <i class="fa fa-star-o"></i>
                                    </label>
                                    <input type="radio" name="rating" value="1" id="rate-1" required />
                                    <label for="rate-2">
                                        <i class="fa fa-star-o"></i>
                                    </label>
                                    <input type="radio" name="rating" value="2" id="rate-2" required />
                                    <label for="rate-3">
                                        <i class="fa fa-star-o"></i>
                                    </label>
                                    <input type="radio" name="rating" value="3" id="rate-3" required />
                                    <label for="rate-4">
                                        <i class="fa fa-star-o"></i>
                                    </label>
                                    <input type="radio" name="rating" value="4" id="rate-4" required />
                                    <label for="rate-5">
                                        <i class="fa fa-star-o"></i>
                                    </label>
                                    <input type="radio" name="rating" value="5" id="rate-5" required />
                                    <input class="btn-small" type="submit" value="Rate">
                                </div>
                            </form>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
        <h4>{{ knock.request_price|default:"Free" }}</h4>
        <div>{% component "status" status=knock.status %}</div>

    </div>

    {% if user.is_authenticated and user.pk == knock.requester.pk and not knock.work_stars and knock.chats.count > 0 %}
        <hr class="space">

        <div class="center">
            <h5>Open chats</h5>
            <ul>
                {% for chat in knock.chats.all %}
                    <li>
                        {% component_block "user_chip" user=chat.user as_request=False %}
                        {% fill "url" %}{% url 'chat' chat.knock.pk chat.user.pk %}{% endfill %}
                    {% endcomponent_block %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% if not knock.assigned_to and knock.knocksubmit_set.count > 0 %}
    <hr class="space">

    <div class="center">
        <h5>User submissions</h5>
        <ul>
            {% for knock_submit in knock.knocksubmit_set.all|dictsort:"submit_time" %}
                {% if user.pk == knock.requester.pk %}
                    <li>
                        <br>
                        {% component_block "user_chip" user=knock_submit.user as_request=False %}
                    {% endcomponent_block %}
                    <a class="btn-floating" href="{% url 'chat' knock.pk knock_submit.user.pk %}"><i class="fa fa-comments"></i></a>
                    <a class="btn-floating" href="{% url 'knock-assign_to' knock.pk knock_submit.user.pk %}"><i class="fa fa-check"></i></a>
                    <br>
                    <small title="{{ knock_submit.submit_time|date:"c" }}">{{ knock_submit.submit_time }}</small>
                </li>
            {% else %}
                <li>
                    {% component_block "user_chip" user=knock_submit.user as_request=False %}
                    {% fill "url" %}{% url 'profile' knock_submit.user.pk %}{% endfill %}
                {% endcomponent_block %}
            </li>
        {% endif %}
    {% endfor %}
</ul>
</div>
{% endif %}

<hr class="space">

{% if user.is_authenticated %}
    <div class="center">
        {% if user.pk == knock.requester.pk %}
            {% if knock.status == 'O' or knock.status == 'R' %}
                <a class="btn red" href="{% url 'knock-delete' knock.pk %}">Delete</a>
            {% endif %}
        {% endif %}

        {% if user.pk != knock.requester.pk and user not in knock.submits.all and not knock.assigned_to %}
            <a class="btn" href="{% url 'knock-submit' knock.pk %}">Submit</a>
        {% endif %}

        {% if user.pk != knock.requester.pk and user in knock.submits.all and not knock.assigned_to %}
            <a class="btn" href="{% url 'knock-unsubmit' knock.pk %}">Unsubmit</a>
        {% endif %}

        {% if user.pk != knock.requester.pk and not knock.request_stars %}
            {% if not knock.assigned_to or user.pk == knock.assigned_to.pk %}
                <a class="btn" href="{% url 'chat' knock.pk user.pk %}">Chat with {{ knock.requester }}</a>
            {% endif %}
        {% endif %}

        {% if user.pk == knock.requester.pk and not knock.work_stars %}
            {% if knock.assigned_to and user.pk != knock.assigned_to.pk %}
                <a class="btn" href="{% url 'chat' knock.pk knock.assigned_to.pk %}">Chat with {{ knock.assigned_to }}</a>
            {% endif %}
        {% endif %}
    </div>
{% endif %}

<hr class="space">

{% endblock content %}

{% block script %}
    <script>
        document.querySelectorAll('.rate .fa').forEach((elem, idx) => {
            elem.onmouseover = () => {
                document.querySelectorAll('.rate .fa').forEach((e, i) => {
                    e.classList.remove('fa-star');
                    e.classList.remove('fa-star-half-o');
                    e.classList.remove('fa-star-o');
                    e.classList.remove('checked');

                    if (i < idx) {
                        e.classList.add('fa-star');
                        e.classList.add('checked');
                    }

                    if (i == idx) {
                        e.classList.add('fa-star-half-o');
                        e.classList.add('checked');
                    }

                    if (i > idx) {
                        e.classList.add('fa-star-o');
                    }
                });
            };

            elem.onclick = () => {
                document.querySelectorAll('.rate .fa').forEach((e, i) => {
                    e.classList.remove('fa-star');
                    e.classList.remove('fa-star-half-o');
                    e.classList.remove('fa-star-o');
                    e.classList.remove('checked');
                    e.classList.remove('confirmed');

                    if (i <= idx) {
                        e.classList.add('fa-star');
                        e.classList.add('confirmed');
                    }

                    if (i > idx) {
                        e.classList.add('fa-star-o');
                    }
                });
            };
        });

        document.querySelectorAll('.rate').forEach((elem, idx) => {
            elem.onmouseout = () => {
                document.querySelectorAll('.rate .fa').forEach((e, i) => {
                    e.classList.remove('checked');
                    e.classList.remove('fa-star-half-o');
                    e.classList.add('fa-star');
                });
            };
        });
    </script>
{% endblock script %}
