{% extends "base.html" %}

{% block content %}

<br/><h4>{{ object }}</h4>

<br/><h5>Status: {{ object.get_status_display }}</h5>

{% if object.assigned_to %}
    <br/>Assigned to: {{ object.assigned_to }}

    {% if object.work_stars %}
        <br/>User {{ object.requester }} rated Worker {{ object.assigned_to }}: {{ object.get_work_stars_display }}
    {% endif %}
    {% if object.request_stars %}
        <br/>Worker {{ object.assigned_to }} rated User {{ object.requester }}: {{ object.get_request_stars_display }}
    {% endif %}
{% endif %}

{% if user.pk == object.requester.pk %}
    <br>
    {% comment %} <br><a href="{% url 'hand-update' object.pk %}">Edit</a> {% endcomment %}
    {% if object.status == 'O' or object.status == 'R' %}
        <br><a href="{% url 'hand-delete' object.pk %}">Delete</a>
    {% endif %}
{% endif %}

{% if user.pk != object.requester.pk and user not in object.submits.all and not object.assigned_to and perms.main.can_submit_for_hands %}
    <br>
    <br><a href="{% url 'hand-submit' object.pk %}">Submit</a>
{% endif %}

{% if object.status == 'D' %}
    {% if user.pk == object.requester.pk and not object.work_stars or user.pk == object.assigned_to.pk and not object.request_stars %}
        <br>
        <br>
        <form action="{% url 'hand-rating' object.pk %}" method="post">
            {% csrf_token %}
            <label class="rating-label">
                <p><strong>Rate for {{ object.assigned_to }}</strong></p>
                <input
                name="rating"
                min="1"
                max="5"
                oninput="this.style.setProperty('--value', this.value)"
                step="1"
                type="range">
            </label>
            <input type="submit" value="Rate">
        </form>
    {% endif %}
{% endif %}

{% if not object.assigned_to and object.handsubmit_set.count > 0 %}
    <br/>
    <br/>List of user submits:
    <ul>
        {% for hand_submit in object.handsubmit_set.all|dictsort:"submit_time" %}
            <li><a href="{% url 'hand-assign_to' hand.pk hand_submit.user.pk %}">{{ hand_submit.user }} - {{ hand_submit.user.first_name }} {{ hand_submit.user.last_name }} submitted on <span title="{{ hand_submit.submit_time|date:"c" }}">{{ hand_submit.submit_time }}</span></a></li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock content %}
