{% extends "base.html" %}

{% block page-css %}
.title {
    text-align: center;
}
{% endblock page-css %}

{% block content %}

{% if user.is_authenticated %}
    <h1 class="title"><a href="{% url 'hand-add' %}">🙌 New 🙌</a></h1>
    <hr>
{% endif %}

{% if my_hands %}
<h5>My Hands</h5>
<ul>
    {% for hand in my_hands %}
        <li style="list-style-type: {% if hand.status == 'I' %}'🔴 '{% endif %}{% if hand.status == 'D' %}'✅ '{% endif %}"><a href="{% url 'hand-detail' hand.pk %}">{{ hand }}</a></li>
    {% endfor %}
</ul>

<hr>
{% endif %}

{% if my_submits %}
<h5>My submits</h5>
<ul>
    {% for hand in my_submits %}
        <li style="list-style-type: {% if hand.status == 'I' %}'🔴 '{% endif %}{% if hand.status == 'D' %}'✅ '{% endif %}"><a href="{% url 'hand-detail' hand.pk %}">{{ hand }}</a></li>
    {% endfor %}
</ul>

<hr>
{% endif %}

<h5>List of Hands</h5>
<ul>
    {% for hand in last_updated_hands %}
        <li style="list-style-type: {% if hand.status == 'I' %}'🔴 '{% endif %}{% if hand.status == 'D' %}'✅ '{% endif %}"><a href="{% url 'hand-detail' hand.pk %}">{{ hand }}</a></li>
    {% endfor %}
</ul>

<hr>

{% endblock content %}
