{% extends "base.html" %}

{% block content %}

<form>
    <p>
        <label for="title">Title</label>
        <input type="search" name="title" id="title" value="{{ request.GET.title }}">
    </p>
    <p>
        <label for="date">Day</label>
        <input type="date" name="date" id="date" value="{{ request.GET.date }}">
    </p>
    <p>
        <label for="category">Category</label>
        <select name="category" id="category">
            <option value="">---</option>
            <option value="BUY" {% if request.GET.category == 'BUY' %} selected{% endif %}>BUY</option>
            <option value="DO" {% if request.GET.category == 'DO' %} selected{% endif %}>DO</option>
            <option value="MEET" {% if request.GET.category == 'MEET' %} selected{% endif %}>MEET</option>
        </select>
    </p>
    <p>
        <input type="submit" value="Search">
    </p>
</form>

{% if results %}
    <h5>Search results</h5>
    <ul>
    {% for result in results %}
        <li>{{ result }}</li>
    {% endfor %}
    </ul>
{% endif %}

{% if results.has_other_pages %}
    {% if results.has_previous %}
        <a href="?page={{ results.previous_page_number }}&{{ url_params }}">PREVIOUS</a>
    {% else %}
        <a href="#!">PREVIOUS</a>
    {% endif %}

    {% for num in results.paginator.page_range %}
        {% if results.number == num %}
            <a href="#!">{{ num }}</a>
        {% else %}
            <a href="?page={{ num }}&{{ url_params }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if results.has_next %}
        <a href="?page={{ results.next_page_number }}&{{ url_params }}">NEXT</a>
    {% else %}
        <a href="#!">NEXT</a>
    {% endif %}
{% endif %}

{% endblock content %}
