
.knock {
    width: 100%;
    height: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 5px auto 5px 1fr;
    grid-template-rows: auto 5px auto auto auto auto;
    grid-template-areas:
        "T T T . TR"
        ". . . . ."
        "C C C C C"
        ". . . . ."
        "BL . B . BR"
        "SL . SB . SR";
}

.knock {
    text-shadow: black 0 0 4px;
}

.knock .title {
    grid-area: T;
    text-transform: uppercase;
    color: var(--main-knock-title);
}

.knock .request_date {
    grid-area: TR;
    color: var(--main-knock-date);
}

.knock .description {
    grid-area: C;
    color: white;
}

.knock .price {
    grid-area: B;
    color: var(--main-knock-price);
    font-weight: bold;
    text-transform: uppercase;
}

.knock .requester {
    grid-area: BL;
}

.knock .category {
    grid-area: SB;
    font-weight: bold;
    text-transform: uppercase;
}

.knock .request_stars {
    grid-area: SL;
    font-size: 1.2rem;
}

.knock .work_stars {
    grid-area: SR;
    font-size: 1.2rem;
}

.knock .assigned_to {
    grid-area: BR;
    font-size: 1.2rem;
}

.knock .chat_count {
    grid-area: BR;
}

.knock .chat_count .btn-floating {
    background-color: var(--main-knock-chat-count);
    color: black;
}



.category.BUY {
    color: var(--category-buy);
}

.category.MEET {
    color: var(--category-meet);
}

.category.DO {
    color: var(--category-do);
}
